/* global */

$font-family-base: Hind, sans-serif;

.cairo-font {
  font-family: "Cairo", sans-serif;
}

body {
  width: 100%;
  margin: 0;
  }
  


/* navbar */

.navbar img {
  width: 30%;
  height: auto;
}

.navbar span {
  color: #6c757d;
  font-family: "Hind";
  font-size: 18px;
  font-weight: bolder;
}


.nav-item {
  position: relative;
  color: #6c757d;
  font-family: 'Hind';
  font-size: 18px;
  font-weight: 100px;
}

.nav-item::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  margin: 0 auto;
  background: #F28482;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}


.nav-item:hover::after {
  transform: scale(1);
}


.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28242, 132, 131, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}

.navbar-light .navbar-toggler {
  border: 0.5px solid #000!important;
}




/* Header - Home Page */

header {
  position: relative;
  background-color: black;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

header video,
header img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

header video {
  display: none;
}


header .content-height {
  padding-top: 20vh;
  position: relative;
  z-index: 2;
}


header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
}





/* Section A propos - Home page */

.image-a-propos {
  padding-bottom: 3vh;
  object-fit: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 73% 100%, 0 100%);
  clip-path: url(/ressources/image-a-propos.jpg) polygon(0 0, 100% 0, 73% 100%, 0 100%) ; // url pour être supporté sur Internet explorer et Edge sur grands écrans, autres navigateurs ok
}


.sliding-left-content {
  animation: slide-left 0.5s ease 1s backwards;
}


@keyframes slide-left {
  
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
  }
    
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
  }

}





/* Section caractéristiques avec icônes en cercle, 3 duals contents - Home Page */

.icone-caracteristiques {
  -webkit-filter: drop-shadow(0 0 0.75rem #000);
  filter: drop-shadow(0 0 0.75rem #000);
}


.sliding-right-caracteristiques {
  transform: translateX(-100%);
  transition: transform 0.6s ease-in-out;
}

.sliding-right-caracteristiques.active {
transform: translateX(0%);
}





/* Section Cours - Home Page */

.object-cover {
  object-fit: cover;
}

.object-pos-top {
  object-position: 50% 30%;
}

.carte {
  transition: 0.2s ease-in;
  box-shadow: 0px 10px 30px black;
}

.carte:hover {
  transform: scale(1.1);
}


/* Références client - Home Page */

.sliding-left-text-references {
  transform: translateX(+100%);
  transition: transform 0.6s ease-in-out;
}
  
.sliding-left-text-references.active {
  transform: translateX(0%);
}
  




/* Section Partenaire - Home Page */

#banPartenaires {
  position: relative;
  background: url("/ressources/banniere-partenaires.jpg");
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid #F28482;
  z-index: 0;
}
  

.overlay-partenaires {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
  }
  
  
.content-text {
  position: relative;
  z-index: 2;
}






/* Section Footer - Home Page */ 

#footer-background {
  position: relative;
  background: url(/ressources/image-footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 0;
}
 


footer .overlay-footer {
  position: absolute;
  background-color: #000 ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 1;
}




.logo-footer {
  position: relative;
  width: 20%;
  height: auto;
  z-index: 2;
}


.footer-heading, .block-footer {
  position: relative;
  z-index: 2;
}

.block-footer a {
  text-decoration: none;
  color:#F7EDE2;
}

.block-footer a:hover {
  color: #F28482;
}





.block-footer-1 {

  ul {
    padding: 0;
 

    li {
    

      &, > a {
        display: table;
        line-height: 3;
      }


      span, img {

        .icon {
          width: 50px;
          font-size: 18px;
          padding-top: 2px;
        }
      

        .icon, .text {
        display: table-cell;
        vertical-align: top;
        }

      }
      
    }
  }
}



.block-footer-2 {
  padding: 0;
}



.block-footer-3 {

  ul {
    padding: 0;
  }

    li {
      display: inline-block;
      margin: 0 10px 0 0;
    }

      .icon {
        width: 1.7em;
      }

}



.legacy a {
  color: #F7EDE2;
}


.legacy a:hover {
  color: #F28482;
}





/* Page contact */ 


.image-bloc-page-contact {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  background-position: center;
}




/* Bannière Page Tarifs */

#banTarifs {
  position: relative;
  min-height: 300px;
  background: url('/ressources/banniere-page-tarifs.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#carouselContent {
  margin-top: 70px;
  font-size: 25px;
  color: #000;
  font-weight: 400;
}













  
    






















































/* Medias queries */

      /* Header - Home Page */
@media screen and (min-width: 768px) {

header img {
  display: none;
}
        
header video {
  display: block;
}
        
}
  

    /* Section A propos - Home Page */
@media screen and (min-width: 992px) {

.image-a-propos {
  padding-bottom: none;
}
        
.responsive-order-1 {
  order: 1;   
}
            
.responsive-order-2 {
  order: 2;
}
            
}




    /* Page contact */ 
@media screen and (min-width: 992px) {

  .responsive-order-div-image-1 {
    order: 1;
  }


  .responsive-order-formulaire-contact-2 {
    order: 2;
  }


  .image-bloc-page-contact {
   object-fit: contain;
  }

}



    /* Page Tarifs */
@media screen and (min-width: 768px) {

  #carouselContent {
    font-size: 35px;
  }
  
}

























































































